body {
    background: hsl(180, 52%, 96%);
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
h1 {
    color: #000;
    text-align: center;
}
#searchWrapper {
    text-align: center;
    align-items: center;
}
#searchBar {
    height: 2rem;
    border-radius: 2px;
    border:none;
    width: 70vw;
}
section {
    margin: 3rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skillcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skillcontainer p {
    padding: 10px;
}
.feature {
    display: flex;
    flex-direction:column;
}
.feature > p {
    font-weight: bolder;
}
.feature-1 p {
  color: hsl(180, 69%, 78%);
}
.feature-1, .feature-2 {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 5px;
}
.language {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
img {
    width: 100px;
    padding: 1rem;
}


li {
    list-style-type: none;
    text-decoration: none;
}